abaw_env/
.vscode/
__pycache__/

# models of spleeter
pretrained_models/

# You shold make a copy of default_config.py
/src/audio/config.py 

# You shold make a copy of default_config.py
/src/fusion/config.py 